<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyjays.mapper.UserMapper">
    <insert id="addUser">
        insert into tb_user1(USERNAME, PASSWORD) values(#{username},#{password});
    </insert>
    <select id="selectUser" resultType="User">
        select * from tb_user1 where username=#{username} and password=#{password};
    </select>
    <select id="selectName" resultType="com.jyjays.pojo.User">
        select * from tb_user1 where username=#{username};
    </select>
</mapper>